# 42
*.DS_Store
*.vscode
*.tmp

# Project
C_tools**
raylib**

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.slo

# Libraries
*.lib
*.lai
*.la
*.a
*.lo

# Executables
*.exe
*.out

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch
*.app

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.smod
*.cmd